@import '../theme.styl'
.tab .btn.active
    color $white
    background-color: $orange
.tab .btn
    color $orange
    font-size: 16px
    font-weight: 500
.list-item.active
    border-color: $orange!important;
    color:  $white
    background-color: $orange
    font-weight: 500