@import './theme.styl'
.App
  text-align center

.title
  color $orange
  font-size 30px
  margin-top: 5px
input:focus
  outline none 
input 
  border none
  background: none
  width: 90%
.input
  border 1px solid $black
  width: 220px
  border-radius: 5px
  display: flex
  align-items: center
  justify-content: center
.myBtn
  border 1px solid $orange
  border-radius: 5px
  display: inline-block
  padding: 3px 6px 3px 6px
  text-align: center
  background-color: $white
  color: $orange
.d-flex
  display flex
.justify-content-center
  justify-content: center
.align-item-center
  align-items: center
.align-all
  display flex
  justify-content center
  align-items: center  
